.checked {
  color: orange;
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.controlButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.videoList {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.videoGrid {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 480px) {
  .controlBar {
    flex-direction: column;
  }
}
