.checked {
  color: orange;
}

.listItem {
  list-style: none;
}

.videoCard {
  width: 18rem;
  margin: 0 auto 1rem;
  min-height: 480px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
